.menu li a {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.menu li a:hover {
    text-decoration: underline;
    background: none;
    background-color: transparent;
}

.menu li a:focus {
    background: none;
    background-color: transparent;

}

.header__logo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    letter-spacing: 4px;
}