.about h3 {
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.about-brief p {
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    padding-top: 18px;
}

.about-brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}